.flow-text {
  padding: 10px 0;
}
.collection .collection-item:nth-child(even) {
  background: #f5f5f5;
}
.fabMobile {
  padding-top: 20px;
}
.homepage {
  display: block;
  text-align: center;
  background: #039be5;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  padding: 16px;
  border-radius: 4px;
}
